<form (ngSubmit)="comprar()">
  <p>Titulo: {{ ingresso.titulo }}</p>
  <p>Sala: {{ ingresso.sala }}</p>
  <p>Data: {{ ingresso.data | date : 'dd/MM/yyyy' }}</p>
  <p>Horário: {{ ingresso.horario }}</p>
  <p>Preço: {{ ingresso.preco | currency : 'BRL' : true }}</p>
  <div class="form-group">
    <label for="quantidade" class="control-label">Quantidade</label>
    <input
      type="number"
      id="quantidade"
      name="quantidade"
      class="form-control"
      [(ngModel)]="quantidade">
  </div>

  <button class="btn btn-default" type="button" (click)="onCancel()">Cancelar</button>
  <button class="btn btn-primary" type="submit">Comprar</button>
</form>