<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Ingressos</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Comprar</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li (click)="onLogin()" *ngIf="!isLoggedIn()"><a>Login</a></li>
      <li (click)="onLogout()" *ngIf="isLoggedIn()"><a>Logout</a></li>

      <li class="dropdown" appDropdown>
        <a class="dropdown-toggle">
          Admin <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active"><a [routerLink]="['admin', 'ingressos']">Ingressos</a></li>
          <li routerLinkActive="active"><a [routerLink]="['admin', 'filmes']">Filmes</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>