<form>
  <div class="form-group">
    <label class="control-label" for="titulo">Titulo</label>
    <input class="form-control" type="text" id="titulo">
  </div>

  <div class="form-group">
    <label class="control-label" for="preco">Preço</label>
    <input class="form-control" type="number" id="preco">
  </div>

  <div class="form-group">
    <label class="control-label" for="sala">Sala</label>
    <input class="form-control" type="text" id="sala">
  </div>

  <div class="form-group">
    <label class="control-label" for="data">Data</label>
    <input class="form-control" type="date" id="data">
  </div>

  <div class="form-group">
    <label class="control-label" for="horario">Horário</label>
    <input class="form-control" type="text" id="horario">
  </div>

  <button class="btn btn-default" type="button">Cancelar</button>
  <button class="btn btn-primary" type="button">Salvar</button>
</form>