<div *ngIf="modo === 'listagem'">
    <button
        type="button"
        (click)="onNew()"
        class="btn btn-primary">Novo</button>

    <table class="table">
        <thead>
            <tr>
                <th>Filme</th>
                <th>Preço</th>
                <th>Sala</th>
                <th>Data</th>
                <th>Horário</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ingresso of ingressos">
                <td>{{ ingresso.titulo | uppercase }}</td>
                <td>{{ ingresso.preco | currency : 'BRL': true }}</td>
                <td>{{ ingresso.sala }}</td>
                <td>{{ ingresso.data | date : 'dd/MM/yyyy' }}</td>
                <td>{{ ingresso.horario }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <app-ingresso-form
            *ngIf="modo === 'cadastro'"></app-ingresso-form>
    </div>
</div>