<table class="table">
    <thead>
        <tr>
            <th>Filme</th>
            <th>Preço</th>
            <th>Sala</th>
            <th>Data</th>
            <th>Horário</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>It</td>
            <td>23,00</td>
            <td>03</td>
            <td>15/09/2017</td>
            <td>21:00</td>
        </tr>
        <tr>
            <td>Bingo</td>
            <td>19,75</td>
            <td>02</td>
            <td>15/09/2017</td>
            <td>19:55</td>
        </tr>
        <tr>
            <td>Transformers</td>
            <td>1,99</td>
            <td>01</td>
            <td>14/09/2017</td>
            <td>18:35</td>
        </tr>
    </tbody>
</table>